<div>
  <form class="form-horizontal">
    <div class="form-group date-search-api-rw has-feedback form-group">
      <label class="col-sm-3 pull-left" data-translate=""
             style="cursor: initial;">apirwAfter</label>
      <div id='recordsdatetimepicker'
           class="col-sm-6 date pull-left"
           data-date-format="yyyy-mm-dd"
           data-gn-bootstrap-datepicker="dateFrom"
           style="padding-left: 0px;padding-right: 0px;">
       <input class="form-control form-input-rw-api"
              id="focusedInput"
              type="text"
              value="Click to focus"
              placeholder="JJ/MM/AAAA"
              data-ng-model="searchObj.params.dateFrom"
              style="cursor: pointer;"/>
        <i class="input-group-addon fa fa-calendar form-date-control-feedback-api-rw"></i>
      </div>
    </div>
  </form>
</div>
