<ul class="list-group" ng-if="::relations">
    <ul ng-repeat="type in ::types"
        ng-if="::relations[type]"
        class="gn-related-list">
      <li class="gn-related-type" ng-click="display=display?false:true">
        {{type | translate}}
        <span>({{ ::relations[type].length }})</span>
        <span ng-if="::relations[type].length > 2"
              style="color: rgb(66, 139, 202);cursor: pointer;">
          <span ng-if="display?false:true">+</span>
          <span ng-if="display?true:false">-</span>
        </span>
      </li>
      <li ng-repeat="r in ::relations[type]" >
        <a ng-if="$index < 2" href="{{location.origin}}{{location.pathname}}#/metadata/{{r.id}}"
           title="{{r.title | gnLocalized: lang}}">
          {{r.title | gnLocalized: lang}}
        </a>
        <a ng-if="$index >= 2" ng-show="display" href="{{location.origin}}{{location.pathname}}#/metadata/{{r.id}}"
           title="{{r.title | gnLocalized: lang}}">
          {{r.title | gnLocalized: lang}}
        </a>
        <span ng-if="$index === 2 && !display">...</span>
      </li>

    </ul>
  </ul>
</ul>
