<div class="gn-facet-list container-tab-api-rw ">
<div data-ng-if='facetType === "apirw"'>

  <!--Collapse all button for first panel-->
  <!--a class=""
     href
     data-ng-hide="isTabMode"
     data-ng-click="collapseAll()"
     title="{{'collapseAllFacet' | translate}}">
    <i class="fa fa-lg fa-caret-square-o-right"></i>
  </a>
  <a class=""
     href
     data-ng-hide="isTabMode"
     data-ng-click="expandAll()"
     title="{{'expandAllFacet' | translate}}">
    <i class="fa fa-lg fa-caret-square-o-down"></i>
  </a-->

  <div data-ng-if="!isTabMode"
       data-ng-repeat="f in dimension"
       data-ng-init="fLabel = getLabel(f);fLvlCollapse[fLabel] = false"
       class="gn-facet gn-facet-{{f['@label']}}"
       data-ng-show="f.category && isDisplayed(f)">

    <!--h4 data-gn-collapsible="fLvlCollapse[fLabel]">
      <i class="fa fa-fw" data-ng-class="fLvlCollapse[fLabel] ? 'fa-arrow-circle-right' : 'fa-arrow-circle-down'"></i>
      {{fLabel | translate}} 
    </h4-->
    <div data-gn-facet-dimension-category="f.category"
         data-category-key="fLabel"
         data-params="params"
         data-facet-config="facetConfig"
         data-ng-class="{'collapse': fLvlCollapse[fLabel]}">
    </div>
  </div>
 </div>


 <div data-ng-if='facetType != "apirw"'>

  <!--Collapse all button for first panel-->
  <div class="btn-group width-100 flex-row flex-center" ng-hide="isTabMode">
    <button type="button" class="btn btn-default btn-sm gn-facet-toggle-btn"
      ng-click="expandAll()" title="{{'expandAllFacet' | translate}}">
      <i class="fa fa-plus-circle"/>
      <span translate>expandAllFacetLabel</span>
    </button>
    <button type="button" class="btn btn-default btn-sm gn-facet-toggle-btn"
      ng-click="collapseAll()" title="{{'collapseAllFacet' | translate}}">
      <i class="fa fa-minus-circle"/>
      <span translate>collapseAllFacetLabel</span>
    </button>
  </div>

  <div data-ng-if="!isTabMode"
       data-ng-repeat="f in dimension"
       data-ng-init="fLabel = getLabel(f);fLvlCollapse[fLabel] = false"
       class="gn-facet gn-facet-{{f['@label']}}"
       data-ng-show="f.category && isDisplayed(f)">

    <h4 data-gn-collapsible="fLvlCollapse[fLabel]">
      <i class="fa fa-fw" data-ng-class="fLvlCollapse[fLabel] ? 'fa-arrow-circle-right' : 'fa-arrow-circle-down'"></i>
      {{fLabel | translate}}
    </h4>
    <div data-gn-facet-dimension-category="f.category"
         data-category-key="fLabel"
         data-params="params"
         data-facet-config="facetConfig"
         data-ng-class="{'collapse': fLvlCollapse[fLabel]}">
    </div>
  </div>
 </div>

<!--ul class="nav nav-pills nav-api-rw-justified">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul-->
  <!--DEFAULT TAB START-->
  <div data-ng-if='facetType != "apirw"'>
  <ul class="nav nav-pills" data-ng-if="isTabMode">
    <li data-ng-repeat="c in tabs.category | orderBy: 'label'"
        data-ng-init="path = buildPath(c);"
        role="presentation"
        data-ng-class="{'active': c.isSelected}">
      <a href="" title="{{c['@label'] || c['@value']}}"
         data-ng-click="filter(c, $event)">
        <span class="gn-facet-label">{{(c['@label'] || c['@value']) | characters:30}}</span>&nbsp;
        <span class="gn-facet-count">({{c['@count']}})</span>
      </a>
    </li>
  </ul>
</div>
  
  <!--DEFAULT TAB END-->

  <!--API-RW TAB START-->
  <div data-ng-if='facetType === "apirw"'>
  <ul class="nav nav-pills nav-api-rw-justified zero-api-rw" data-ng-if="isTabMode" data-ng-if='facetType === "apirw"'>
    <li data-ng-repeat="c in tabs.category | orderBy: 'label'"
        data-ng-init="path = buildPath(c);"
        role="presentation"
        data-ng-class="{'active': c.isSelected}"
        class="api-rw-facet-tab-li">
      <a href="" title="{{c['@label'] || c['@value']}}"
         data-ng-click="filter(c, $event)">
        <i data-ng-if="c.isSelected" class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
        <i data-ng-if="!c.isSelected" class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
        &nbsp;<span class="gn-facet-label">{{(c['@label'] || c['@value']) | characters:30}}</span>&nbsp;
        <span class="gn-facet-count">({{c['@count']}})</span>
      </a>
    </li>
  </ul>
</div>
  <!--API-RW TAB END-->
</div>
