<h4 class="facet-title-api-rw"  data-translate="">apirwModificationDate</h4>
<div class="date-search-api-rw">
  <p> <strong data-translate="">apirwModificationData</strong></p>
  <div data-gn-api-rw-period-chooser-resources="resourcesCreatedTheLast"
    data-date-from="searchObj.params.creationDateFrom"
    data-date-to="searchObj.params.creationDateTo" ext-function="updateParams();triggerSearch()">
  </div> 
  <p><strong data-translate="">apirwModificationMetada</strong></p>
  <div data-gn-api-rw-period-chooser-records="recordsCreatedTheLast"
    data-date-from="searchObj.params.dateFrom"
    data-date-to="searchObj.params.dateTo" ext-function="updateParams();triggerSearch()">
  </div>
</div>