<div class="gn-pager row"
     data-ng-show="config.pages > 0">
  <div class="col-md-12 col-lg-6 zero-api-rw">   
    <div class="col-sm-3 col-md-4 zero-api-rw ">
      <span data-translate="">page</span> {{config.currentPage}} 
      <span data-translate="">on</span> <span ng-if="config.pages>=1"> {{config.pages}} </span><span ng-if="config.pages<0"> 0</span>
    </div> 
    <div class="col-sm-9 col-md-8 pull-right zero-api-rw">
      <div class="form-group sortby-search-api-rw">
        <label class="col-sm-6 col-md-8 zero-api-rw control-label api-rw-label-page"><span data-translate="">elementsPerPage</span> :</label>
        <div class="col-sm-4 col-md-4 zero-api-rw api-rw-center-btn-page pull-right">
          <button type="button"
                  class="btn btn-default dropdown-toggle api-rw-btn-norounded"
                  data-toggle="dropdown"
                  aria-expanded="false">
            <span 
                  class="pull-left">{{config.hitsPerPage}}</span>
            <span class="pull-right icon-api-rw-select-down"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li data-ng-repeat="nb in ::values">
              <a data-ng-click="updateSearch(nb)">{{nb}}</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
  <div ng-hide="config.pages === -1" class="col-md-12 col-lg-6 zero-api-rw">
    <ul class="pagination pagination-api-rw pull-right">
      <li ng-class='{"invisible": (config.pages <= 1 || (config.pages > 1 && config.currentPage ===1))}'>
        <a href="#" data-ng-click="first()" class="api-rw-pagination-icon"><span class="icon-api-rw-select-first"></span></a>
      </li>
      <li ng-class='{"invisible": (config.pages <= 1 || (config.pages > 1 && config.currentPage ===1))}'>
        <a href="#" data-ng-click="previous()" class="api-rw-pagination-icon"><span class="icon-api-rw-select-previous"></span></a>
      </li>
      <li ng-class='{"invisible": (config.pages <= 1 || (config.pages > 1 && config.currentPage <= 2))}'>
        <span class="api-rw-pagination-dot">...</span>
      </li>
      <li data-ng-show="config.pages == config.currentPage &&  config.pages > 3">
        <a href="#" data-ng-click="previous();previous()" class="api-rw-pagination-number">{{(config.currentPage|number) -2}}</a>
      </li>
      <li data-ng-hide="config.pages == 1 || config.currentPage ==1">
        <a href="#" data-ng-click="previous()" class="api-rw-pagination-number">{{(config.currentPage|number) - 1 }}</a>
      </li>
      <li class="active"><a href="#" class="api-rw-pagination-number">{{config.currentPage}}</a>
      </li>
      <li data-ng-hide="config.pages == 1 || config.currentPage == config.pages">
        <a href="#" data-ng-click="next()" class="api-rw-pagination-number">{{(config.currentPage|number) -- 1 }}</a>
      </li>
      <li data-ng-show="config.pages > 2 && config.currentPage == 1 ">
        <a href="#" data-ng-click="next();next()" class="api-rw-pagination-number">{{(config.currentPage|number) -- 2 }}</a>
      </li>
      <li ng-class='{"invisible": (config.pages <= 3 || (config.pages > 3 && config.currentPage > (config.pages-2)))}'>
        <span class="api-rw-pagination-dot">...</span>
      </li>
      <li ng-class='{"invisible": (config.pages <= 1 || (config.pages > 1 && config.currentPage > (config.pages-1)))}'>
        <a href="#" data-ng-click="next()" class="api-rw-pagination-icon"><span class="icon-api-rw-select-next"></span></a>
      </li>
      <li ng-class='{"invisible": (config.pages <= 1 || (config.pages > 1 && config.currentPage > (config.pages-1)))}'>
        <a href="#" data-ng-click="last()" class="api-rw-pagination-icon"><span class="icon-api-rw-select-last"></span></a>
      </li>
    </ul>
  </div>
</div>

