<div class="footer">
  <div id="bottom">
    <div id="inner">
      <div id="mentions">
        <div id="block-panels-mini-mentions" class="block block-panels-mini">
          <div class="content">
            <div class="panel-rw two-cols-75-25">
              <div class="region-a">
                <div class="in">
                  <div class="panel-pane pane-block pane-menu-menu-footer-menu">
                    <ul class="menu">
                      <li class="first leaf menu-1150 mentions_legales"><a
                        href="http://geoportail.wallonie.be/mentions-legales.html" target="_blank">Mentions légales</a>
                      </li>
                      <li class="leaf menu-544 vie_privee"><a href="http://geoportail.wallonie.be/vie-privee.html"
                                                              target="_blank">Vie privée</a></li>
                      <li class="leaf menu-1152 mediateur"><a href="http://geoportail.wallonie.be/mediateur.html"
                                                              target="_blank">Médiateur</a></li>
                      <li class="leaf"><a
                        href="http://geoportail.wallonie.be/home/infrasig/informations-sur-les-metadonnees.html"
                        target="_blank">Aide Metawal</a></li>
                      <li class="leaf"><a
                        href='https://github.com/SPW-DIG/metawal-core-geonetwork/milestones?direction=desc&amp;sort=due_date&amp;state=closed'
                        target="_blank">Version</a></li>
                      <li class="last leaf menu-1153 accessibilite"><a
                        href="http://geoportail.wallonie.be/accessibilite.html" target="_blank">Accessibilité</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="region-c">
                <div class="in">
                  <p class="text-media">Partager cette page :</p>
                </div>
              </div>
              <div class="region-b">
                <div class="in">
                  <p id="medialist">
                    <a id="facebook" href="https://www.facebook.com/sharer.php?u={{socialMediaLink}}" target="_blank"
                       title="Facebook">1</a>
                    <a id="twitter" href="https://twitter.com/share?url={{socialMediaLink}}" target="_blank"
                       title="Twitter">2</a>
                    <a id="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{socialMediaLink}}"
                       target="_blank" title="LinkedIn">3</a>
                    <a id="google" href="https://plus.google.com/share?url={{socialMediaLink}}" target="_blank"
                       title="Google+">4</a>
                    <a id="email" href="mailto:?subject=Home&amp;body={{socialMediaLink}}" target="_blank"
                       title="Email">5</a>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
con
