<div class="container" data-ng-controller="GnLoginController">
    <div class="col-lg-6">
        <form class="form-horizontal" action="../../j_spring_security_check" method="post">
            <label for="inputUsername" translate="">username</label>
            <!-- TODO : translate attr -->
            <input type="text" class="form-control" id="inputUsername" name="username" autofocus=""
                placeholder="{{'username' | translate}}"/>
            <label for="inputPassword" translate="">password</label>
            <input type="password" class="form-control" id="inputPassword" name="password"
                placeholder="{{'password' | translate}}"/>
            <input type="hidden" name="redirectUrl" value="/"/>
            <!--<div class="checkbox">
                <label class="checkbox">
                    <input type="checkbox"/><span translate>rememberMe</span>
                </label>
            </div>-->
            <p/>
            <button type="submit" class="btn btn-primary">
                <i class="icon-signin"></i>
                <span data-translate="">signIn</span>
            </button>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading" data-translate="">needAnAccount</div>
            <p data-translate="">needAnAccountInfo</p>
            <p>
                <a class="btn btn-default" href="http://geoportail.wallonie.be/en/home/contact.html?objet=metawal-role" data-translate="">createAnAccount</a>
            </p>
        </div>
        <div class="panel">
            <div class="panel-heading" data-translate="">forgetDetails</div>
            <div data-ng-show="sendPassword === false">
                <p data-translate="">forgetDetailsInfo</p>
                <p>
                    <a class="btn btn-default" href="http://geoportail.wallonie.be/en/home/contact.html?objet=metawal-autres" data-translate="">recoveryPass</a>
                </p>
            </div>
        </div>
    </div>
</div>
